<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. If request is not already targeting dist/, internal rewrite to dist/
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>

<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>
